body{
    background: linear-gradient(to right, #000000, #e74c3c); 
    font-family:sans-serif
    
    
}
.bg{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center  ;
    

   
}
.login{
    line-height: 30px;
}
.login>*{
    height: 30px;
    
   
}   
.login input[type="submit"]{
    height: 30px;
    background-color: #12B0E8;
    color:#fff;
    border-color: #12B0E8;
    justify-content: center;
}